body {
    background-color:rgb(27, 27, 26);
    color: rgb(245, 229, 212);
    text-align: center;
    font-family: 'Joti One', cursive, sans-serif;
    font-size: 1.3rem;
}

h1,
#totalResult,
.btn-container,
#result {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

h1 {
    height: 15vh;
}

#totalResult {
    flex-direction: column;
    height: 30vh;
    font-size: 2rem;
}


.btnPlayAgain {
    height: 50px;
    width: 250px;
    background-color: orange;
    color: rgb(51, 36, 9);
    border: 1px solid transparent;
    border-radius: 10px;
    font-family: 'Joti One', cursive, sans-serif;
    font-size: inherit;
}

.btn-container {
    height: 30vh;
}

.btn {
    width: 25%;
    background-color: rgb(226, 243, 245);
    border: 1px solid transparent;
    border-radius: 10px;
    color: rgb(255, 136, 0);
    font-size: 5rem;
}

#result {
    height: 10vh;
}

.scores{
    display: grid;
    grid: "div div";
    align-content: center;
    height: 15vh;
}

.scores p {
    font-size: 2.5rem;
}
